h1{
	/*centering text*/
	width:300px;
	margin-left: auto;
    margin-right: auto;
    
 }
h2{
	/*centering text*/
	text-align:center;
	

}

blockquote{
		/*changing text on the blockquote with external link*/
	font-family: 'Rock Salt', cursive , Times;
	font-weight: bold;
	font-size:75%;
	text-align: center;
}

h3,#History,#Styles,#GALLERY, #Jibbing, #Freeriding, #Freestyle{			

/*adding color-shadow-style and aligning text*/
    color: rgb(255,0,0);
    text-shadow: 2px 2px rgb(0,0,0);
	font-style: oblique;
	text-align: left;
}

body {
	   								/*centering page and adding round corners and shadow*/
	width:90%;
    margin-left:auto;
    margin-right:auto;
    border: 2px solid;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #2C2DCF;
    			
    								/*changing text*/
    			
    font-family: "Times New Roman", Times, serif;
	font-size:1.000em;
	font-weight:normal;
		
								/*changing the line height */
	line-height:20px;
	

}
	
	/*changing the ol list style*/
ol {
	list-style-type: circle;
	}
	
	/*changing the ul list style*/
ul {
	list-style-type: square;
	display: inline-table;
	border: 2px solid navy;
	margin: 10px;
	box-shadow: 2px 2px 5px #2C2DCF;
	
	}

	
	
	
	
	


h1 {   
	/*changing text*/
    color: #010302;
    text-shadow: 2px 2px #FF0000;
    font-style: oblique;
}

h2 {
	/*changing text*/
    color: rgb(0,0,84);
    text-shadow: 2px 2px #FF0000;
    font-style: oblique;
}


#image1{

	/*changing the opacity of the image*/
    opacity: 0.4;
    filter: alpha(opacity=40); 
	
	
	   	/*changing box model for image*/
    width: 500px;
    height: 375px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
	box-shadow: 10px 10px 5px #2C2DCF;





}


/*changing the hover behavior for image 1*/

#image1:hover {
	/*changing the hover behavior*/
    opacity: 1.0;
    filter: alpha(opacity=100);

}



#image2{
	/*changing the opacity of the image*/
    opacity: 0.4;
    filter: alpha(opacity=40); 
    
    	/*changing box model for image*/
    width: 500px;
    height: 350px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
    box-shadow: 10px 10px 5px #2C2DCF;
    
    
}
/*changing the hover behavior for image 2*/
#image2:hover {
	/*changing the hover behavior*/
    opacity: 1.0;
    filter: alpha(opacity=100);

}





#image3{
	/*changing the opacity of the image*/
    opacity: 0.4;
    filter: alpha(opacity=40); 
    
    	/*changing box model for image*/
    width: 500px;
    height: 350px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
	box-shadow: 10px 10px 5px #2C2DCF;

}

/*changing the hover behavior for image 3*/
#image3:hover {
	/*changing the hover behavior*/
    opacity: 1.0;
    filter: alpha(opacity=100);

}




#image4{
	/*changing the opacity of the image*/
    opacity: 0.4;
    filter: alpha(opacity=40); 
    
    	/*changing box model for image*/
    width: 500px;
    height: 550px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
	box-shadow: 10px 10px 5px #2C2DCF;


}

/*changing the hover behavior for image 4*/
#image4:hover {
	/*changing the hover behavior*/
    opacity: 1.0;
    filter: alpha(opacity=100);

}


/* unvisited link */
a:link {
    color: #0000A3;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF8B00;
}

/* selected link */
a:active {
    color: #FF0000;
}





